<p style="text-align:center"><img class="fit" src="../../assets/Images/mit-sailing-pavilion-eric-gendron.jpg"></p>
<div class="container">
    <h1>Welcome to Theta Tau MIT</h1>
    <p>Theta Tau is the only Professional Engineering Fraternity at MIT. As the nation's oldest 
        and foremost fraternity for engineers, Theta Tau focuses on developing leaders for profession,
         service, and brotherhood. This mission is embodied in our Brothers, a group of men as diverse 
         as they are accomplished. Scholars, innovators, athletes, startup founders, and philanthropic 
         organization directors all call our house -- a beautiful five story brownstone in the Back Bay 
         of Boston -- their home. We believe that our organization is strong because of the people who 
         make it up, and stronger because of those who support it. On behalf of the whole Technology 
         Colony, welcome to our website where you can learn more about our organization, members and activities.
    </p>
    <div id="menu">
        <ul>
        <li>
            <h3>
                Service
            </h3>
        </li>
        <li>
            <h3>
                Professional Development
            </h3>
        </li>
        <li>
            <h3>
                Brotherhood
            </h3>
        </li>
    </ul>   
</div>
</div>